body{
	/*background-color: #01a559b8; /*màu RBG*/*/
	color: #ffff; /*Màu chữ*/
	/*background-image: url('../image/background01.jpg');
   background-repeat: no-repeat;*/
  /* background-position: -50px -110px;
  background-size: 100% 100%;
  background-attachment: fixed;
*/
    background: #01a559b8 url('../image/background01.jpg') no-repeat 0px 0px fixed ; 
    background-size: 100% 100%;
}
.pg1{
	/*background-color: #5a04d37a;*/
}
/*.pg2{
	background-image:url('../image/background01.jpg') ;
	background-repeat: no-repeat;
	background-size: cover;
}*/