.wrapper{
	border: 1px solid red;
	width: 600px;
	margin: 0 auto;
	overflow: auto;
}
.col-1{
	width: 30%;
	height: 150px;
	background: green;
	float:  left;
}
.col-2{
	width: 30%;
	height: 200px;
	background: blue;
	float: right;

}
.col-3{
	width: 30%;
	height: 400px;
	background: red;
	float: left;
}
.clear{
	clear: both;
}