*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: "Roboto";
	src: url('../fonts/Roboto-Bold.ttf');
}
body{
	font-family: "Roboto";
}
/*Set block of a web : căn giữa*/
.container{
	margin: 0 auto;
	width: 100%;
	height: 550px;
	position: relative;
	z-index: 1;
}
.container .slider img{
	width: 100%;
	height: auto;

}
/*CSS create a block to opacity img*/
.container .block-opacity{
	top: 0;
	background: #ffffff40;
	width: 1200px;
	height: 550px;
	position: absolute;
	z-index: 0;
}
/*css thẻ inline to block to set width*/
section{
	display: block;
}
div{
	display: block;
}
/*CSS for logo*/
.logo{
	max-width: 230px;
	position: absolute;
	bottom:0;
	left: 0;
	height: 130px;
	margin-left: 5%;
	margin-bottom: 5%;
}
.logo .logo-name{
	width: 250px;
	color: whitesmoke;
	left: 60%;
    position: absolute;
	margin-top: -80%;
	margin-left: 50%;
	
}
h1{
  font-size: 27px;
  font-style: inherit;
}
img{
	width: 100%;
	border-radius: 8px;
}

.logo .logo-name span{
	background: burlywood;
	color: whitesmoke;
	padding: 3px;
	box-sizing: border-box;
}
.fa{
	display: inline-block;
	font-size: inherit;
	text-rendering: auto;

}
.fa-check:before{
	content: "\f00c";
}
/*CSS MENU*/
a{
	   color: #fff;
     text-decoration: none;
}


.container .menu{
	overflow: hidden;
	padding-left: 20%;
	width: 100%;
	height: 10%;
	position: absolute;
	z-index: 1;
	bottom: 0;
	background: #fff;
}
.container .menu p{
	position: relative;
	height: 30%;
	top: 35%;
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;	
}
p{
	margin-block-start:1em ;
	margin-block-end:1em ;
	margin-inline-start:5% ;
	margin-inline-end:5% ;
}

