*{
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	outline: none;

}
body{
	font-size: 15px;
}
img{
	width: 100%;
	height: auto;

}
.row{
	margin-left: -10px;
	margin-right: -10px;
}
.col{
	float: left;
	position: relative;
	padding: 0px 10px;
}
.row::after{
	clear: both;
	content: '';
	display: block;
}
.container{
	max-width: 1200px;
	margin: 0px auto;

}
.four{
	width: 25%;
}/*
@media all and (max-width: 320px){}

@media all and (min-width: 321px) and (max-width: 480) {
	body{
		color: red;
	}
	.four{
		float: none;
		width: 100%;
	}
}

@media all and (min-width: 481px) and (max-width: 600){}

@media all and (min-width: 601px) and (max-width: 800){}

@media all and (min-width: 601px) and (max-width: 768){
	body{
		color: green;
	}
	.four{
		width: 50%;
	}

@media all and (min-width: 769px) and (max-width: 1024){}

@media all and (min-width: 1025px){}*/

/*Màn hình điện thoại*/
@media all and (max-width: 768px){}

/*Ipad*/
@media all and (min-width: 769px) and (max-width: 992px){}

/*destop nhỏ*/
@media all and (min-width: 993px) and (max-width: 1200px){}







